* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.font_dark {
    font-weight: 700;
    color: #3e3e3f;
}

.font_light {
    font-weight: 500;
    color: #aaaeb6;
}

#wapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 66px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

.header_left {
    display: flex;
    justify-content: space-around;
    width: 45%;
    align-items: center;
    margin-left: 20px;
}

.header_nav {
    display: flex;
    justify-content: space-around;
    color: #59616f;
    font-size: 12px;
    font-weight: 500;
}

.header_nav-item {
    padding: 24px 16px;
}

.isSelect {
    color: #00bdd6;
    border-bottom: 4px solid #00bdd6;
    font-weight: 600;
}

.header_right {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.header_search {
    position: relative;
    width: 300px;
    height: 30px;
}

.header_search input {
    width: 90%;
    height: 100%;
    border: 0;
    background-color: #f3f4f6;
    padding-left: 40px;
}

.header_search i {
    position: absolute;
    top: 6px;
    left: 12px;
}

#center {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.product {
    margin-top: 60px;
}

.product_linktree {
    display: flex;
    color: #aaaeb6;
}

.linktree_now {
    color: #3e3e3f;
}

.product_title {
    margin-top: 20px;
    font-size: 65px;
}

.product_rate {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.product_rate-left {
    display: flex;
}

.product_rate-left img {
    width: 110px;
    height: 20px;
}

.product_rate-right {
    display: flex;
    width: 180px;
    justify-content: space-between;
}

.rate_right-item {
    color: #2e2e2e;
    display: flex;
    font-size: 16px;
}

.rate_right-item i {
    margin-right: 10px;
}

.product_img {
    margin-top: 20px;
}

.grid_2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product_img-big {
    width: 97%;
    padding-bottom: 10px;
}

.grid_4 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product_img-small {
    width: 95%;
}

.product_description {
    display: flex;
    height: 400px;
    margin-top: 30px;
}

.desc_left {
    width: 70%;
    margin-right: 100px;
}
.desc_title {
    margin-bottom: 20px;
}
.desc_left p {
    line-height: 20px;
    color: #2e2e2e;
    font-size: 14px;
}
.desc_sub {
    margin-top: 30px;
}
.sub_line {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 350px;
    font-size: 14px;
    color: #3e3e3f;
    align-items: center;
    margin-bottom: 10px;
}

.sub_line-item {
    display: flex;
    align-items: center;
}
.sub_line-item img{
    margin-right: 10px;
}

.desc_form {
    width: 30%;
    padding: 20px;
    border: 1px solid #696969;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 85%;
}
.form_price {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    color: #00bdd6;
}

.form_option {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 9px;
    font-size: 14px;
}
.form_title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 20px 0;
}
.title_total {
    color: #aaaeb6;
}
.title_price {
    font-weight: bolder;
}
.btn_buy {
    height: 40px;
    background-color: #00bdd6;
    color: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;
}
.add_cart {
    height: 40px;
    background-color: #fff;
    color: #00bdd6;
    font-size: 16px;
    border: 1px solid #00bdd6;
    border-radius: 4px;
}